<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Project DoorHDM</title>
  </head>
  <body>
      <h1 style='text-align: center; font-size:45px'>Door FDM</h1>
      <div class="container-fluid" style='width: 80%; margin: 0 auto; display: block;'>
          <div class=" col-lg-6">
              <img class="img-fluid img-thumbnail rounded mx-auto d-block" src="{{ url_for('video_feed') }}" alt="loading...." style='width: 80%; margin: 0 auto; display: block;'>
          </div>
      </div>
  </body>
</html>
